{# Artist custom template #}

<div class="container">

    <div class="encabezado">

        <h1>{{ artist_info.artist_name }}</h1>
        <img src={{ artist_info.artist_profile_picture }}>
        
    </div>

    <div class="row th-main">

        <div class="col-sm"> Album Picture  </div><br>
        <div class="col-sm"> Artist Name  </div><br>
        <div class="col-sm">Track Name </div></a> <br>

    </div>

  {% for key,value in artist_info.tracks_names %}
  {# {{ kint(test_var) }} #}

    <div class="row">
    
        
        <div class="col-sm"> <img src={{ artist_info.album_pictures[key] }}>  </div><br>
        <div class="col-sm"> {{ artist_info.album_names[key] }}  </div><br>
        <div class="col-sm"> {{ artist_info.tracks_names[key] }} </div></a> <br>
        

    </div>
  {% endfor %} 
  
</div>
